video{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.layui-form{
    background: rgba(255, 255, 255, 0.45) none repeat scroll 0 0 !important;
    padding: 20px;
    box-shadow: 1px 0px 15px #696969;
}