<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<div th:fragment="index">
    <script th:src="@{static/thirdpart/jquery-2.2.3.min.js}"></script>
    <script th:src="@{static/thirdpart/vue/vue.js}"></script>
    <script th:src="@{static/thirdpart/vue/vue-resource.js}"></script>
    <script th:src="@{static/thirdpart/layui-v2.4.3/layui/layui.all.js}"></script>

    <script th:src="@{static/thirdpart/datatables/bootstrapStyle/jquery.dataTables.min.js}"></script>
    <script th:src="@{static/thirdpart/datatables/bootstrapStyle/dataTables.bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{static/thirdpart/datatables/bootstrapStyle/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{static/thirdpart/datatables/bootstrapStyle/dataTables.bootstrap.css}">

    <script th:src="@{static/base/layerUtil.js}"></script>
    <script th:src="@{static/base/tableUtil.js}"></script>

    <!--<link rel="stylesheet" th:href="@{static/thirdpart/bootstrap/bootstrap.min.css}">-->
    <link rel="stylesheet" th:href="@{static/thirdpart/layui-v2.4.3/layui/css/layui.css}">

    <script th:inline="javascript">

        /*<![CDATA[*/
        var currentUser = /*[[${session.currentUser}]]*/ 'currentUser';
        /*]]>*/

        var base = "/groceryshop";
        var laydate = layui.laydate;
        var element = layui.element;
        var form = layui.form;
        var layedit = layui.layedit;
    </script>

    <script th:replace="component::component"></script>
</div>


</html>